*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{


font-family:
"Microsoft YaHei";


color:white;


min-height:100vh;


background:

linear-gradient(
#020111,
#102b5c
);


}



header{


text-align:center;

padding:40px;


}



.prince{


width:240px;


border-radius:20px;


animation:

float 4s infinite;


}



@keyframes float{


50%{


transform:

translateY(-20px);


}


}




h1{


font-size:45px;


margin-top:20px;


text-shadow:

0 0 20px white;


}



.container{


width:90%;

max-width:900px;

margin:auto;


}



section{


background:

rgba(255,255,255,.15);


padding:30px;


margin-bottom:30px;


border-radius:25px;


backdrop-filter:

blur(10px);


}



h2{


text-align:center;

margin-bottom:20px;


}



audio{


width:100%;


}



ul{


list-style:none;


}



li{


padding:15px;


margin:10px;


background:

rgba(255,255,255,.2);


border-radius:15px;


cursor:pointer;


}



li:hover{


background:#ffd86b;


color:#222;


}




.button{


display:block;


width:200px;


margin:20px auto;


padding:15px;


background:#ffd86b;


color:#222;


text-align:center;


border-radius:30px;


text-decoration:none;


}